body {
  box-sizing: border-box;
  position: absolute;
}

header {
height: 22.5vh;
background-color: white;
position: fixed;
top: 0;
width: 100%;
}


header > * {

  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #85929E;
  float: left;
  padding-top: 2vh;
}

header > h1 {
  width: 5%;
  color: #BD081C;
}

.fa-pinterest {
  position: relative;
  bottom: 22px;
}

header > form {
  width: 70%;
}

input{
  width: 80%;
  background-color: #EFEFEF;
  box-sizing: border-box;
  height: 40px;
  border: hidden;
  position: relative;
  right: 2vw;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color: #273746;
  background-image: url(../assets/icons/search-icon.png);
  background-repeat: no-repeat;
  background-position: right 98%center;
  padding-left: 40px;
}

select {
  background-color: #EFEFEF;
  box-sizing: border-box;
  border-left: 1px solid #D6DBDF;
  border-right: none;
  border-bottom: none;
  border-top: none;
  color: #2C3E50;
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  font-weight: bold;
  height: 40px;
  padding-left: 10px;

  text-align: center;
  position: relative;
  right: 2.5vw;
}

header > nav {
  width: 20%;
  position: relative;
  top: 2vh;
  display: inline-block;
  height: 40px;
  right: 5%;
}

a {
  color: #BABABA;
  margin-right: 30px;
  font-size: 13pt;
  font-weight: bold;
  Text-decoration: none;
}
.fas fa-user-circle{
  width: 15px;
  height: 15px;
  font-size: 20pt;
}

hr {
  border: 0;
  border-top: 1px solid #D5D8DC;
  border-bottom: 0;
  height:0;
  width: 100%;
  position: relative;
  bottom: 40px;
}

header section div {
  box-sizing: border-box;
  display: inline-block;
  font-size: 11pt;
  font-weight: bold;
  height: 55px;
  margin: 2px;
  background-color: #FA8072;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10%;
  color: white;
  position: relative;
  bottom: 10vh;
  left:  3vh;
}

div.green {
  background-color: #52BE80;
}
div.blue_green {
  background-color: #45B39D;
}

div.purple {
  background-color: #5F7C9A;
}

div.purple2 {
  background-color: #584AA2;
}

main {
  margin-top: 11%;
}

.col {
  float:left;
  width: 19.5%;
  margin: .2% .2%;
}

img {
  width: 100%;
  border-radius: 5%;
}

.titulo {
  font-family: 'Roboto', sans-serif;
  color: #5D6D7E;
  font-weight: bolder;
  font-size: 11pt;
}

.pin:hover {
  background-color: #F3F3F3;
}

/*.overlay{
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

.overlay img {
  width: 10px;
  position: relative;
  top: 1px;
}

article div:hover .overlay {
  opacity: 1;
}*/

.pin{
  margin-bottom: 9%;
  padding: 10px;
  border-radius: 10px;

}
